@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html::-webkit-scrollbar{
    width: 10px;
}

html::-webkit-scrollbar-thumb{
    background-color: #2F2B22;
    border-radius: 5px;
}

html::-webkit-scrollbar-track{
    background-color: #585040;
}

html::-webkit-scrollbar-corner{
    background-color: #15130F;
}

body{
    margin: 0px auto;
    padding: 0px;
    background-color: #F6F6F6;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Roboto", sans-serif;
}

.fa-gm-custom-color{
    color: #23425F;
}
.fa-gm-custom-size{
    font-size: 50px;
}

.main-top{
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-image: url("../img/content/slider_img.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}

.logo > a > img{
    height: 35px;
    width: 150px;
}

.logo > a:hover{
    filter: invert(63%) sepia(11%) saturate(1223%) hue-rotate(360deg) brightness(96%) contrast(86%);
}

.menu > ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.menu > ul > li{
    display: flex;
    margin-right: 32px;
}

.menu > ul > li:last-child{
    margin-right: 0px;
}

.menu > ul > li > a{
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}

.menu > ul > li > a:hover{
    color: #B59967;
    text-shadow: 1px 3px 5px #000000;
}

.slider-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 64px;
}

.s-caption{
    background-color: rgba(255, 255, 255, 0.7);
    padding: 15px 30px;
}

.s-caption > h1{
    color: #1B3F60;
    text-transform: uppercase;
}

.slider-info > p{
    font-size: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 35px;
    text-shadow: 0px 0px 5px #000000, 1px 1px 10px #000000, 1px 1px 15px #000000;
}

.slider-info > button{
    background-color: transparent;
    border: 2px solid #FFFFFF;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    padding: 15px;
}

.slider-info > button:hover{
    background-color: rgba(255, 255, 255, 0.14);
}

.slider-circle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.circle{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    margin-right: 10px;
    cursor: pointer;
}

.circle:hover{
    background-color: #FFFFFF;
}

.s-selected{
    background-color: #FFFFFF;
    cursor: default;
}

.slider-circle > div:last-child{
    margin-right: 0px;
}

.main-bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 64px;
}

.main-bottom-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1111px;
}

.rows{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.row-top-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 553px;
    height: 250px;
    border-right: 3px solid #E5E5E5;
    border-bottom: 3px solid #E5E5E5;
}

.row-top-left > h1{
    text-transform: uppercase;
    font-size: 75px;
    white-space: pre;
}

.row-top-right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 250px;
    font-size: 18px;
    border-bottom: 3px solid #E5E5E5;
    padding: 0px 50px;
}

.row-cell-lending{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.lending-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 80px 25px;
    border-right: 3px solid #E5E5E5;
    border-bottom: 3px solid #E5E5E5;
}

.row-cell-lending > div:last-child{
    border-right: none;
}

.lending-block > h1{
    font-size: 20px;
    color: #424242;
    margin: 36px 0px 18px 0px;
}

.lending-block > p{
    font-size: 15px;
    line-height: 22px;
    color: #424242;
}

@media screen and (max-height: 600px){
    .slider-circle{
        margin: 16px 0px;
    }
}

@media screen and (max-width: 1150px){
    html::-webkit-scrollbar{
        width: 5px;
    }
    .main-bottom{
        width: 100%;
        margin: 0px;
    }
    .rows{
        flex-direction: column;
        background-color: #BBBBBB;
        border-top: 3px solid #BBAA8E;
        border-bottom: 3px solid #BBAA8E;
        margin-bottom: 32px;
        padding: 30px 0px;
    }
    .row-top-left{
        width: auto;
        height: auto;
        border: none;
    }
    .row-top-right{
        width: auto;
        height: auto;
        border: none;
    }
    .row-cell-lending{
        flex-direction: column;
    }
    .lending-block{
        border: none;
        background-color: #ECECEC;
        border-top: 3px solid #BBAA8E;
        border-bottom: 3px solid #BBAA8E;
        margin-bottom: -3px;
        padding: 32px;
    }
    .main-bottom-container{
        width: auto;
    }
}

@media screen and (max-width: 900px){
    .navbar{
        flex-direction: column;
        padding: 32px 0px 0px 0px;
    }
    .menu > ul, .slider-info{
        margin-top: 32px;
    }
}

@media screen and (max-width: 550px){
    .rows{
        text-align: center;
    }
    .menu > ul{
        flex-direction: column;
    }
    .menu > ul > li{
        margin: 0px 0px 10px 0px;
    }
    .row-top-left > h1{
        font-size: 30px;
    }
}